{% extends "base.html" %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ base_url }}/css/ekko-lightbox.min.css">
{% endblock styles %}

{% block libs %}
    {{ super() }}
    <script src="{{ base_url }}/js/ekko-lightbox.min.js"></script>
{% endblock libs %}

{% block scripts %}
    {{ super() }}
    <script>
        (function(){
            $("img").each(function(index,value){

                var aDom=$("<a></a>").attr({"href":$(value).attr("src")+"?inlineId=myOnPageContent"}).addClass("ekko-lightbox");
                $(value).wrap(aDom);

            });
        })();
        $(document).on('click', '[class="ekko-lightbox"]', function(event) {
            event.preventDefault();
            $(this).ekkoLightbox();
        });
    </script>
{% endblock scripts %}
