createdAt: "2018-06-11T05:57:44.272Z"
updatedAt: "2018-06-11T06:37:29.276Z"
type: "MARKDOWN_NOTE"
folder: "a3a05a199390ca61391f"
title: "读书笔记  Thinking in C++"
content: "# 读书笔记  Thinking in C++"
tags: [
  "c++"
  "读书笔记"
]
isStarred: false
isTrashed: false
